* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 0.3rem;
    font-size: 6.5rem;
    color: white;
}

footer {
    border-top: 0.15rem solid black;
    text-align: center;
    padding: 1em;
    background: rgb(92, 228, 205);
    font-size: 1.3rem;
}

header {
    border-bottom: 0.4rem solid black;
    background: url(https://images.unsplash.com/photo-1517867065801-e20f409696b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80) no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

summary {
    padding: 1.5em;
    font-size: 2.63em;
}